API_DEV_PORT=5001

# GPU number to be used when dev
DEVICE_NB=1

# uncomment to set a specific port for dramatiq during dev
dramatiq_prom_port="9192"

# uncomment to set a specific folder for dramatiq prometheus database during dev
# dramatiq_prom_db=/tmp/dramatiq-prometheus
