# set to 'prod' to use production settings
TARGET=dev

# apps (folder names) to be imported to the API
INSTALLED_APPS=dticlustering,watermarks,similarity,regions,vectorization

# url used on production (must match the port EXPOSE in Dockerfile) ONLY USED IN PROD
PROD_URL=http://localhost:8001

# folder path for data storage (containing subfolders with apps names) keep /data/ for Docker, data/ for dev
API_DATA_FOLDER=data/

# password to secure redis
# REDIS_PASSWORD=

# prefix url for exposing results: each app has => /<prefix>/<app_name> (must match docker-confs/nginx.conf) ONLY USED IN PROD
XACCEL_PREFIX=/media

#######################
#    DTICLUSTERING    #
#######################

#######################
#      SIMILARITY     #
#######################

#######################
#      WATERMARKS     #
#######################

#######################
#       REGIONS       #
#######################

# folder path for yolo tmp files keep /data/yolotmp for Docker, data/yolotmp for dev
YOLO_CONFIG_DIR=data/yolotmp/
