[submodule "dti"]
	path = app/dticlustering/lib
	url = git@github.com:sonatbaltaci/dti-sprites.git
	branch = demo2
[submodule "vectorization"]
	path = app/vectorization/lib
	url = git@github.com:vayvi/HDV.git
