flask
dramatiq[redis]
dramatiq-abort[redis]
requests
pyyaml
tqdm
django-environ
python-slugify
pytest
tox
stream-zip
stream-unzip
orjson
httpx
iiif-download>=0.1.10

addict
cython
pandas
Pillow
scipy<1.13
scikit-learn
matplotlib
opencv-python
pycocotools
scikit-image
seaborn
svgwrite
svg.path
termcolor
timm
numpy
yapf==0.3.1
ultralytics
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi

kornia==0.7.* # TODO update

# Match pytorch with your cuda version / container image: https://pytorch.org/get-started/locally/
torch>=2.2
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu124
